@import '../component/teamName.scss';
@import '../component/content.scss';
@import '../component/postForm.scss';

.board {
    position: absolute;
    display: inline-block;
    margin: 0 5%;
    width: 73%;

    & .team {
        display: grid;
        min-width: 560px;
        min-height: 120px;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        padding: 1% 0;
        justify-items: center;
        border: 2px solid #003566;
        border-radius: 8px;


        & img {
            width: 150px;
            height: 130px;
            grid-column: 1/2;
            grid-row: 1/3;
        }

        & .info {
            color: #727272;
        }
    }

    //[subid]
    .post {
        border: 1px solid;

        .info {
            display: flex;
            gap: 15px;

            & svg {
                height: 30px;
                width: auto;
                color: #a7a7a7;
                background-color: #e1e1e19c;
                border-radius: 15px;
            }

            .user {
                & .date {
                    font-size: 14px;
                    color: #a7a7a7;
                }
            }
        }

        .body {
            padding: 3%;
        }

        & .topic {
            padding: 3% 0 0 3%;
        }

        & .comments {
            margin: 3%;

            article {
                margin-bottom: 2%;
                padding: 1%;
                background-color: #a7a7a736;
            }
        }
    }
}