.header {
  @include flex-between;
  padding: 10px 20px;
  align-items: flex-start;

  @media(max-width:650px) {
    padding: 10px 20px 0 20px;
  }

  /* 로고 스타일 */
  & img {
    width: 188px;
    height: auto;
    cursor: pointer;

  }

  /* 로그인 및 회원가입 버튼 스타일 */
  &-button {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #003566;
    border: none;
    border-radius: 4px;
    cursor: pointer;


    &:hover {
      background-color: #2f4b63;
      /* 마우스를 올렸을 때 버튼의 배경 색상 변경 */
    }

  }

  .logout {
    text-decoration: none;
    color: #fff;
    padding: 5px 7px;
    margin-left: 10px;
    background-color: #003566;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
  }

}