.home {
    position: absolute;
    display: inline-block;
    margin: 0 5%;


    & .table {
        min-width: 500px;
        background-color: #dadada;
        border-collapse: collapse;
    }

    & th {
        white-space: nowrap;
        padding: 1%;
        width: 50px;
        font-size: 0.8em;
    }

    & td {
        padding: 4px 0;
        text-align: center;
        vertical-align: middle;
        border-top: solid 1px #083966;
    }

    .teamName {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & div {
            padding-left: 10%;
        }
    }
}