
.home{
    position: absolute;
    display: inline-block;
    margin: 0 5%;
    background-color: #dadada;
    width: 60%;

    & .teamTable{
        margin: 0px;
    }

    & td {
        margin:5px;

        & img{
        width: 10%;
        height: auto;
        }
    }
}