.loading {


  @keyframes fade-in {
    0% {
      opacity: 0; // 초기 투명도 0
    }

    100% {
      opacity: 1; // 최종 투명도 1
    }
  }

  // 이미지 스타일 및 애니메이션 적용
  & img {
    margin-left: 30%;
    width: 400px;
    height: auto;
    opacity: 0; // 초기에 투명하게 설정
    animation: fade-in 1.5s ease-in-out; // fade-in 애니메이션 적용 (0.5초 동안)
  }
}