/* styles/sidebar.scss */

/* 사이드바 스타일 */
.sidebar {
  & img {
    width: 40px;
    height: auto;
  }

  @media screen and (min-width:650px) {
    & img {
      display: none;
    }
  }

  @media screen and (max-width:650px) {
    padding: 15px 10px 15px 10px;

    & ul li {
      margin-bottom: 10px;
    }

    .text {
      display: none;
    }
  }

  display: inline-block;
  background-color: #e1e1e1;
  color: #003566;
  padding: 15px 20px 15px 15px;
  box-sizing: border-box;
  border-radius: 0 8px 8px 0;


  & ul {
    list-style-type: none;
    padding: 0;

    & li {
      @media screen and (max-width:650px) {

        margin-bottom: 10px;
      }

      font-size: 16px;
      margin-bottom: 20px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #efc700;
      }

      &.selected {
        font-weight: bold;
        color: #FFC300;
      }
    }
  }
}