/* styles/sidebar.scss */

/* 사이드바 스타일 */
.sidebar {
  display: inline-block;
  width: 220px;
  /* 사이드바의 너비를 조정하세요 */
  background-color: #e1e1e1;
  /* 배경 색상 설정 */
  color: #003566;
  /* 텍스트 색상 설정 */
  padding: 15px 20px 15px 15px;
  ;
  /* 안쪽 여백 설정 */
  box-sizing: border-box;
  /* 안쪽 여백을 너비에 포함시킵니다 */
  border-radius: 0 8px 8px 0;

  /* 팀 목록 스타일 */
  & ul {
    list-style-type: none;
    /* 리스트 스타일 제거 */
    padding: 0;

    /* 팀 이름 스타일 */
    & li {
      font-size: 16px;
      /* 팀 이름 폰트 크기 설정 */
      margin-bottom: 20px;
      /* 각 팀 이름 사이의 간격 조정 */
      font-weight: bold;
      cursor: pointer;

      /* 팀 이름에 마우스를 올렸을 때 색상 변경 */
      &:hover {
        color: #efc700;
      }

      /* 선택된 팀 이름 스타일 */
      &.selected {
        font-weight: bold;
        /* 선택된 팀 이름을 굵게 표시 */
        color: #FFC300;
        /* 선택된 팀 이름의 색상 변경 */
      }
    }
  }
}