.name {
    display: block;
    grid-column: 2/3;
    grid-row: 1 / 2;
    font-size: 30px;
    color: black;

    &.BOU{
        color: #ca1318;
        -webkit-text-stroke: 0.5px #1d1a18;
    }
    
    &.ARS{
        color: #ed1f27;
        -webkit-text-stroke: 0.5px #98834b;
    }

    &.AVL{
        color: #96bde4;
        -webkit-text-stroke: 0.5px #79103f;
    }

    &.BRE{
        color: #e10711;
        -webkit-text-stroke: 0.5px #1d1a18;
    }

    &.BHA{
        color: #005aab;
    }

    &.BUR{
        color: #8bd3f4;
        -webkit-text-stroke: 0.5px #68013a;
    }

    &.CHE{
        color: #134992;
    }
   
    &.CRY{
        color: #1d4493;
        -webkit-text-stroke: 0.5px #79103f;
    }

    &.EVE{
        color: #0b4c8f;
    }

    &.FUL{
        color: #070707;
    }

    &.LIV{
        color: #d70006;
    }

    &.LTN{
        color: #fedd74;
        -webkit-text-stroke: 0.5px #0a2e60;;
    }

    &.MNC{
        color: #68afdc;
    }

    &.MAN{
        color: #e02025;
        -webkit-text-stroke: 0.5px #a59d2b;
    }

    &.NEW{
        color: #070707;
    }

    &.NFO{
        color: #e2192b;
        -webkit-text-stroke: 0.5px #460924;
    }

    &.SHU{
        color: #ec2128;
        -webkit-text-stroke: 0.5px #500c2a;
    }

    &.TOT{
        color: #1d2353;
        -webkit-text-stroke: 0.5px #2535b7;
    }

    &.WHU{
        color: #7c2d3a;
    }
  
    &.WOL{
        color: #f99734;
        -webkit-text-stroke: 0.5px #000000;
    }
}