@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Shrikhand&family=Ubuntu:wght@500&display=swap');

.shrikhand {
    font-family: 'Shrikhand';
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}